// override colors to customize
// basic color options: use only color names as shown in the
// "Color Palette" section of http://tachyons.io/docs/themes/skins/
$siteBgColor: #FFFFFF ;
$sidebarBgColor: #FFFFFF ;
$textColor: #333333 ;
$sidebarTextColor: #333333 ;
$headlineColor: #333333 ;
$headingColor: #333333 ;
$bodyLinkColor: #333333 ;
$navLinkColor: #333333 ;
$sidebarLinkColor: #333333 ;
$footerTextColor: #333333 ;
$buttonTextColor: #333333 ;
$buttonBgColor: #FFFFFF ;
$buttonHoverTextColor: #FFFFFF ;
$buttonHoverBgColor: #333333 ;
$borderColor: #FFFFFF ;
